<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="toggleSideBar()">
            <mat-icon>menu</mat-icon>
        </button>    
        <span>Repositorio ITZ</span>

        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <td>
                <form [formGroup]="formSearch" 
                (ngSubmit)="search()" 
                fxLayout="column wrap"
                fxLayoutAlign="center center" 
                fxLayoutGap="10px">                   
                <mat-form-field class="example-full-width">
                    <mat-label>Buscar</mat-label>
                    <input type="search" matInput  formControlName="search" [(ngModel)]="formSearch.search">
                    <mat-icon matSuffix>search</mat-icon>
                  </mat-form-field>
            </form>
            </td>
            <ul fxLayout="row" fxLayoutGap="20px">
                <li>
                    
                    <!-- <button mat-icon-button>
                        <mat-icon>settings</mat-icon>
                    </button> -->
                </li>
                <!-- <li>
                    <button mat-icon-button>
                        <mat-icon>help_outline</mat-icon>
                    </button>
                </li> -->
                <li>
                    <button mat-button [matMenuTriggerFor]="menu">
                        <mat-icon>person_outline</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item routerLink="/perfil">
                            <mat-icon>account_circle</mat-icon>
                            Perfil
                        </button>
                        <button mat-menu-item href="#" (click)="logout($event)">
                            <mat-icon>exit_to_app</mat-icon>
                            Cerrar Sesión
                        </button>
                    </mat-menu>                    
                </li>
            </ul>
        </div>
        
    </mat-toolbar-row>
</mat-toolbar>
