<div>
    <!-- <app-widget-area [data]="bigChart"></app-widget-area> -->
</div>
<mat-card style="text-align: center;">
  <img mat-card-image src="https://2.bp.blogspot.com/-fcCwZdRZXXs/W2jQs4_U4JI/AAAAAAAANIQ/ab8R2PxovyYytw3PzXGQGSTeBxiUvP8UwCK4BGAYYCw/s1480/ITZ%2BBLOG%2BENCABEZADO.jpg" alt="foto">
</mat-card>

<br>

<mat-divider></mat-divider>

<br>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
 
<div *ngFor="let r of data">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title> {{ r.titulo }} </mat-card-title>
      <mat-card-subtitle>{{ r.autor }} </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/39/Book.svg/875px-Book.svg.png" alt="foto" height="400">
    <mat-card-content>
     
    </mat-card-content>
  </mat-card>
</div>

  
    <!-- <mat-card fxFlex="25">
        <app-widget-card label="Nuevos Usuarios" total="12k" porcentaje="50" [data]="cards"></app-widget-card>
    </mat-card> -->
    <!-- <mat-card fxFlex="25">
        
    </mat-card>
    <mat-card fxFlex="25">
        
    </mat-card> -->
</div>

<mat-divider></mat-divider>

<br>
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
    <!-- <div fxFlex="80">table
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">
          
               Position Column 
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
              </ng-container>
          
              Name Column 
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>
          
              Weight Column 
              <ng-container matColumnDef="weight">
                <th mat-header-cell *matHeaderCellDef> Weight </th>
                <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
              </ng-container>
          
              Symbol Column 
              <ng-container matColumnDef="symbol">
                <th mat-header-cell *matHeaderCellDef> Symbol </th>
                <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </div>
          
    </div> -->
    
    <!-- <div fxFlex="40">
        <app-widget-pie [data]="pieChart"></app-widget-pie>
    </div> -->
</div>
<br>
<br>
<br>