<section fxLayout="row wrap" fxLayoutAlign="center center" fxFill>
    <mat-card fxFlex="800px" fxFlex.xs="100%">
        <mat-card-title>Editar Artículo</mat-card-title>
        <form [formGroup]="formularioProyecto" 
            (ngSubmit)="update()" 
            fxLayout="column wrap"
            fxLayoutAlign="center center" 
            fxLayoutGap="10px">
 
            <mat-card-content>
                <mat-form-field appearance="outline" >
                    <mat-label>Titulo</mat-label>
                    <input matInput formControlName="titulo" [(ngModel)]="formularioProyecto.titulo" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="hasError('titulo', 'required')"> El Titulo es <strong>obligatorio</strong></mat-error>
                    <mat-error [hidden]="!error.titulo">{{ error.titulo }}</mat-error>
                    <mat-error *ngIf="formularioProyecto.get('titulo').errors?.serverError">
                        {{ formularioProyecto.get('titulo').errors?.serverError }}
                    </mat-error>
                </mat-form-field>
                
                <mat-form-field appearance="outline" >
                    <mat-label>Autor</mat-label>
                    <input matInput formControlName="autor" [(ngModel)]="formularioProyecto.autor" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="hasError('autor', 'required')"> El Autor es <strong>obligatorio</strong></mat-error>
                    <mat-error [hidden]="!error.autor">{{ error.autor }}</mat-error>
                    <mat-error *ngIf="formularioProyecto.get('autor').errors?.serverError">
                        {{ formularioProyecto.get('autor').errors?.serverError }}
                    </mat-error>
                </mat-form-field>
                
                <mat-form-field appearance="outline" >
                    <mat-label>Categoría</mat-label>
                    <mat-select formControlName="categoria" [(ngModel)]="formularioProyecto.categoria" [errorStateMatcher]="matcher">
                        <mat-option value="articulo">Artículo</mat-option>
                        <mat-option value="tesis">Tesis</mat-option>
                    </mat-select>
                    <mat-error *ngIf="hasError('categoria', 'required')"> Este campo es <strong>obligatorio</strong></mat-error>
                    <mat-error [hidden]="!error.categoria">{{ error.categoria }}</mat-error>
                    <mat-error *ngIf="formularioProyecto.get('categoria').errors?.serverError">
                        {{ formularioProyecto.get('categoria').errors?.serverError }}
                    </mat-error>
                </mat-form-field>
        
                <mat-form-field appearance="outline">
                    <mat-label>Fecha de Publicación</mat-label>
                    <input matInput [matDatepicker]="picker"  formControlName="fecha" [(ngModel)]="formularioProyecto.fecha" [errorStateMatcher]="matcher">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="hasError('fecha', 'required')"> Este campo es <strong>obligatorio</strong></mat-error>
                    <mat-error [hidden]="!error.fecha">{{ error.fecha }}</mat-error>
                    <mat-error *ngIf="formularioProyecto.get('fecha').errors?.serverError">
                        {{ formularioProyecto.get('fecha').errors?.serverError }}
                    </mat-error>
                </mat-form-field>
            </mat-card-content>

            <mat-card-actions align="center">
                <button  mat-raised-button color="primary" class="btn-block" type="submit" [disabled]="!formularioProyecto.valid">Editar</button>
                <button type="button" mat-raised-button color="warn" (click)="cancelar()">Cancelar</button>
            </mat-card-actions>
        </form>
    </mat-card>    
</section>