<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Antonio</h2>
            <h4>admin@gmail.com</h4>
            <img src="https://cdn2.iconfinder.com/data/icons/font-awesome/1792/user-512.png" alt="foto">
        </div>
    </div>
    <mat-divider></mat-divider>
    <h2 matSubHeader>Menu</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/articulos">Articulos</a>
    <mat-divider></mat-divider>
    
    <h2 matSubHeader>Herramientas</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/registrar-usuario">
        <mat-icon>import_contacts</mat-icon>
        Registrar Usuario
    </a>

<!--     
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contactos">
        <mat-icon>contact_phone</mat-icon>
        Telefonos
    </a> 
-->

</mat-nav-list>
