<html>
    <body>
        <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center" fxFlexFill>
            <mat-card class="box">
                <mat-card-header>
                    <mat-card-title>Sistema Web Repositorio ITZ</mat-card-title>
                </mat-card-header>

                <form [formGroup]="formularioLogin" (ngSubmit)="onSubmit()" class="example-form">
                    <mat-card-content>
                        <mat-form-field appearance="outline" class="example-full-width">
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="email" [(ngModel)]="formularioLogin.email" [errorStateMatcher]="matcher">
                            <mat-error *ngIf="hasError('email', 'email')">Ingrese un email válido</mat-error>
                            <mat-error *ngIf="hasError('email', 'required')"> El email es <strong>obligatorio</strong></mat-error>
                        </mat-form-field>
                       

                        <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Contraseña</mat-label>
                        <input matInput type="password" formControlName="password" [(ngModel)]="formularioLogin.password" [errorStateMatcher]="matcher">
                        <mat-error *ngIf="hasError('password', 'required')">Ingrese una contraseña</mat-error>
                        </mat-form-field>
                    </mat-card-content>
                    <mat-card-actions>
                        <button  mat-stroked-button color="primary" class="btn-block" type="submit" [disabled]="!formularioLogin.valid">Iniciar Sesión</button>
                    </mat-card-actions>
                </form>
            </mat-card>
        </div>   
    </body>
</html>


